
h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid rgb(58, 112, 239); 
  padding: 10px;
  box-sizing: border-box; 
  resize: vertical; 
}

select {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  padding: 10px;
  box-sizing: border-box;
}
#guardarReseñaBtn, #limpiarReseñasBtn, #buscarReseñaBtn{
  padding: 10px;
  margin-top: 10px; 
  width: 100%; 
  background-color: #4CAF50; 
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049
}

.reseñas {
  width: 300px; 
  margin: 0 auto; 
  padding: 10px;
  border: 1px solid #ccc; 
}

::placeholder {
  color: #888;
  opacity: 1; 
}


#contacto {
  width: 459px;
  height: 252px;
  border: 1px solid black;
  color: black;
  background-color: lightgray;
  margin-top: 77px;
}